/*! HTML5 Boilerplate version 1.0.0 | MIT License | It's free and comfort usable */

/* reset.css 1.0.0 | RAKIBUL ISLAM
/*
 *It's default CSS use in website and cross-browser styling. This code collects in
  HTML5 and CSS3 this class flowing and create a website in a simple time!
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * div default margin and padding none 
 */

html,
body {
  background-color: #ddd;
}

/* -------------------------------------------------------------------------- */
/* Container */
/* -------------------------------------------------------------------------- */
.theme-container {
  width: 576px;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/*
 * Remove the margin and padding in all browsers.
 */

* {
  padding: 0;
  margin: 0;
}

input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}

input::placeholder {
  color: #a1a1a1; /* Desired placeholder color */
}
textarea:focus {
  outline: none; /* Optional: Remove the outline when the textarea is focused */
}
textarea {
  border: 1px solid #ddd;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Customize the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Hide the default scrollbar for Firefox */
html {
  scrollbar-width: none; /* Firefox 64+ */
}

body {
  scrollbar-width: none; /* Firefox 64+ */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  display: none;
  scrollbar-color: transparent transparent;
}

a {
  text-decoration: none;
  color: #333;
}

html {
  scrollbar-width: none;
}
@-moz-document url-prefix() {
  html,
  body {
    overflow: hidden !important;
  }
}

body {
  -ms-overflow-style: none; /** For IE */
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
@-moz-document url-prefix() {
  html,
  body {
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

/* Hide the default scrollbar for Internet Explorer */
body::-webkit-scrollbar {
  display: none;
}

/* Customize the scrollbar track */
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Customize the scrollbar thumb (the draggable handle) */
body::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* margin and padding */
.ml-1 {
  margin-left: 7px;
}
.ml-2 {
  margin-left: 14px;
}

.ml-3 {
  margin-left: 21px;
}

.ml-4 {
  margin-left: 28px;
}

.ml-5 {
  margin-left: 35px;
}

/* margin-right */
.mr-1 {
  margin-right: 7px;
}
.mr-2 {
  margin-right: 14px;
}

.mr-3 {
  margin-right: 21px;
}

.mr-4 {
  margin-right: 28px;
}

.mr-5 {
  margin-right: 35px;
}

/* padding left */
.pl-1 {
  padding-left: 7px;
}
.pl-2 {
  padding-left: 14px;
}

.pl-3 {
  padding-left: 21px;
}

.pl-4 {
  padding-left: 28px;
}

.pl-5 {
  padding-left: 35px;
}

/* padding right */
.pr-1 {
  padding-right: 7px;
}
.pr-2 {
  padding-right: 14px;
}

.pr-3 {
  padding-right: 21px;
}

.pr-4 {
  padding-right: 28px;
}

.pr-5 {
  padding-right: 35px;
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

strong {
  font-size: 13px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgb(147, 250, 250);
  color: #000;
}

.nav-tabs {
  border: none;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  border: none;
  box-shadow: none;
  outline: none;
}

.nav-tabs .nav-link {
  margin-bottom: none;
  border: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
}
/*
* Customize the background color to match your design.
*/

.common-btn {
  border: none;
  width: 100%;
  border-radius: 5px;
  background: #ddd;
  cursor: pointer !important;
  padding: 11px;
  font-weight: 600;
  font-size: 11px;
  color: #000;
  font-size: 15px;
}

.common-btn:hover {
  background-color: #cfcfcf;
  cursor: pointer;
  color: #000;
}

/* pre loader */

.loader-parent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.loader {
  border: 5px solid #949494;
  border-radius: 50%;
  border-top: 5px solid #dedede;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.simplepicker-btn {
  border: none;
  font-size: 18px;
  color: #000;
}
.simplepicker-btn:active,
.simplepicker-btn:hover {
  background-color: transparent !important;
  color: #000;
}

/* footer social */
.footer-fixed {
  position: relative;
  width: 100%;
}
.footer-social {
  width: 100%;
  padding: 15px 0;
  padding-top: 25px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 576px;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 50px;
  background-color: #fff;
}
.footer-social .footer-social-icon-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  padding: 0;
  margin-top: -22px !important;
}

.footer-social .footer-social-icon-wrap li {
  list-style: none;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.footer-social .footer-social-icon-wrap li:hover {
  border: 1px solid #333;
}
.footer-social .footer-social-icon-wrap li a {
  font-size: 25px;
  color: #929292;
}

/* menu overly */
.menu-overly {
  opacity: 0;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.menu-overly-add {
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 5;
  position: absolute;
  opacity: 0.5;
  visibility: visible;
}

/* flat date time picker */

.flatpickr-calendar {
  background: #fff;
  color: #fff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.dayContainer span {
  color: #;
}

.flatpickr-innerContainer {
  margin-top: 50px;
}

.flatpickr-months {
  /* margin: 20px 0 !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #8783c0;
  width: 100%;
  padding: 15px 0;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  position: inherit !important;
  top: 0;
  height: 34px;
  padding: 10px;
  z-index: 3;
  color: rgba(0, 0, 0, 0.9);
  fill: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 0 !important;
  line-height: 1;
  height: 34px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flatpickr-time {
  background: #8783c0;
  color: #fff;
  margin-top: 16px;
}

/* ===================================0END0==================================== */
